<section id="sobre" class="bg-transparent mt-4 mt-lg-0">
  <div class="container my-auto">
    <div class="row align-items-center g-3">
      <div class="col-lg-7 order-1 order-lg-0">
        <div>
          <p class="display-5 mb-1">Olá, eu sou <strong class="fw-bold">Natália B. Vieira</strong>!</p>
          <span class="display-3 fw-bold fst-italic sobre-banner-text">Full-Stack Developer</span>
        </div>

        <div class="mt-4">
          <p class="fs-5">
            Graduada em Tecnologias da Informação e Comunicação pela UFSC,
            atualmente aprofundo meus conhecimentos em desenvolvimento de
            software na <strong class="sobre-banner-text">Academia do Programador</strong>
            com foco diário em transformar aprendizados em soluções reais.
          </p>
        </div>

        <div class="d-flex flex-wrap align-items-center gap-3 fs-5">
          <span>
            <i class="bi bi-geo-alt fs-5"></i>
            Curitiba, PR - Brasil
          </span>

          <span>-</span>

          <span>
            <i class="bi bi-envelope-at fs-5"></i>
            tiago&#64;academiadoprogramador.net
          </span>

          <span>-</span>

          <span class="d-flex justify-content-center gap-2">
            <a target="_blank" href="https://github.com/nataliavieirab">
              <i class="bi bi-github fs-1"></i>
            </a>

            <a target="_blank" href="https://linkedin.com/in/nataliavieirab">
              <i class="bi bi-linkedin fs-1"></i>
            </a>
          </span>
        </div>
      </div>

      <div class="col-auto mx-auto sobre-banner-img">
        <img class="img-fluid rounded-circle" src="/img/girl-with-bugs.png" alt="Foto de Natália B. Vieira" />
      </div>
    </div>
  </div>
</section>