/* Estilos Globais do Projeto */

// 1.Cores
$cor-primaria: #E33988;
$cor-secundaria: #A73CDF;
$cor-fundo: #0a0a0a;
$gradiente-principal: linear-gradient(90deg, $cor-primaria 0%, $cor-secundaria 100%);

// 2.Tipografia (Fontes)
$fonte-padrao: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$fonte-serif: 'Playfair Display', serif;

// 3. Importação e Override do Bootstrap
@use 'bootstrap/scss/bootstrap' with (
  $primary: $cor-primaria,
  $secondary: $cor-secundaria,
  $body-bg: $cor-fundo, // Passa a cor escura para o fundo padrão do Bootstrap
  $font-family-base: $fonte-padrao,
  $font-family-sans-serif: $fonte-padrao
);

@use 'bootstrap-icons';

body {
  background-color: $cor-fundo;
  color: #ffffff;
}

section {
  display: flex;
  min-height: 100vh;
}

.sobre-banner-text {
  background: $gradiente-principal;
  background-clip: text;
  color: transparent;
}

.sobre-banner-img {
  background: $gradiente-principal;
  border-radius: 33% 67% 53% 47% / 66% 41% 59% 34%;
  height: 25rem;
  width: 25rem;
}
